extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
//-   p My Name is #{name}

block content 
    h1= title
    p Welcome to #{title}
    p My Name is #{name}
    
    h1 My Self
    p My Name is Mithursan Kalanantharasan 
    p I'm 25 Years Old.